*{
    margin:1%;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header, nav, footer, article, body {
    background-color: lightblue;
    background-image: linear-gradient(to top left rgb(186, 220, 238), rgb(162, 235, 229), rgb(81, 177, 224), rgb(112, 145, 238));
    width: 100%;
    float: left;
}

body {
    min-height: 100vh;
    display:flex; 
    flex-direction:column; 
}

footer{ 
    margin-top: auto;
}

footer{ 
    min-height: 5%;  
}

p, span {
    text-align: justify;
}

h1 {
    font-size: 1em;
    font-weight: bold;
}

a {
    color: black;
    font-style: italic;
    font-size: 1em;
}

a:hover, a:active {
    color: rgba(51, 5, 60, 0.862);
}

div.bold {
    font-weight: bold;
}

span.italic {
    font-style: italic;
}

span.underline {
    text-decoration: underline;
}

span.blue {
    color: blue;
}

span.pink {
    color: pink;
}

span.purple {
    color: purple;
}

span.green {
    color: green;
}

span.yellow {
    color: yellow;
}

span.yellowgreen {
    color: yellowgreen;
}

span.grey {
    color: grey;
}

