*{
    margin:3em;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: black;
    font-style: italic;
    font-size: 1em;
}

a:hover, a:active {
    color: pink;
}

p.bold {
    font-weight: bold;
}

p.italic {
    font-style: italic;
}

p.underline {
    text-decoration: underline;
}

