*{
    margin:10% transparent;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

header, nav, footer, article, body {
    width: 100%;
    float: left;
}

body {
    min-height: 100vh;
    /*display:flex; */
    flex-direction:column; 
}

footer{ 
    margin-top: auto;
    width: 99%;
    min-height: 5%;  
}


p, span {
    text-align: justify;
}

.h1 {
    font-size: 1em;
    font-weight: bold;
}

table {
    width: auto;
    border: 1px solid;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

td {
    border: 1px solid;
    padding: 5px;
    margin: 20px;
    text-align: center;
    align-items: center;
    width: auto;
}

tr {
    width: auto;
}

a {
    color: black;
    font-style: italic;
    font-size: 1em;
}

a:hover, a:active {
    color: rgba(51, 5, 60, 0.862);
}

.mgn {
    margin: 2%;
}

form.brdListraRed {
  border-style: dashed;
  border-color: red;
}

input.Enviar {
    padding: 5%;
}

.bkgWhite  {
    background-color: white;
}

.bkgBlueGradient {
    background-color: lightblue;
    background-image: linear-gradient(to bottom right, rgb(186, 220, 238), rgb(162, 235, 229), rgb(81, 177, 224), rgb(112, 145, 238));
}



.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.blue {
    color: blue;
}

.pink {
    color: pink;
}

.purple {
    color: purple;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.yellowgreen {
    color: yellowgreen;
}

.grey {
    color: grey;
}

.rd {
    border-radius: 8px;
}

.brd {
    border: solid black;
}

.txtSizeDois {
    font-size: 2em;
}
img.gif {
    width: 5%;
    height: 20px;
    align-items: top;
}
